*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 100dvw;
    height: 100dvh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* outer circle design */
.container .outer {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;
    animation: rotate 50s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google {
    position: absolute;
    height: 55px;
    width: 55px;
    top: 93%;
    left: 43%;
    animation: spreadDown 2s linear infinite alternate;
}

.google img {
    width: 100%;
    height: 100%;
    animation: antiClockwise 50s linear infinite;
    animation-fill-mode: both;
}

.meta {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 70%;
    left: 87%;
    animation: spread 2s linear infinite alternate;
}

.meta img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    animation: antiClockwise 50s linear infinite;
    animation-fill-mode: both;
}

.netflix {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 70%;
    left: 3%;
    animation: spreadLeft 2s linear infinite alternate;
}

.netflix img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    animation: antiClockwise 50s linear infinite;
    animation-fill-mode: both;
}

.microsoft {
    position: absolute;
    height: 113px;
    width: 133px;
    top: -14%;
    left: 34%;
    animation: spreadUp 2s linear infinite alternate;
}

.microsoft img {
    width: 100%;
    height: 100%;
    animation: antiClockwise 50s linear infinite;
    animation-fill-mode: both;
}

.aws {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 20%;
    left: 2%;
    animation: spreadLeft 2s linear infinite alternate;
}

.aws img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    animation: antiClockwise 50s linear infinite;
    animation-fill-mode: both;
}

.mailchimp {
    position: absolute;
    height: 47px;
    width: 47px;
    top: 18%;
    left: 86%;
    animation: spread 2s linear infinite alternate;
}

.mailchimp img {
    width: 100%;
    height: 100%;
    animation: antiClockwise 50s linear infinite;
    animation-fill-mode: both;
}


/* middle circle design */
.middle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color:rgba(107, 254, 242, 0.775);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* inner circle design */
.inner {
    width: 180px;
    height: 180px;
    position: relative;
    border-radius:50%;
    animation: antiClockwise 25s linear infinite;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.python {
    position: absolute;
    height: 65px;
    width: 68px;
    top: -15%;
    left: 30%;
    animation: spreadUp 2s linear infinite alternate;
}

.python img {
    width: 100%;
    height: 100%;
    animation: rotate 50s linear infinite;
}

.django {
    position: absolute;
    height: 25px;
    width: 40px;
    top: 91%;
    left: 38%;
    animation: spreadDown 2s linear infinite alternate;
}

.django img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    animation: rotate 50s linear infinite;
}

.js {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 40%;
    left: -8%;
    animation: spreadLeft 2s linear infinite alternate;
}

.js img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    animation: rotate 50s linear infinite;
}

.react {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 40%;
    left: 90%;
    animation: spread 2s linear infinite alternate;
}

.react img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    animation: rotate 50s linear infinite;
}

/* center circle design */
.center {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: yellow;
}

.center img {
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 50%;
    animation: rotate 50s linear infinite;
}





/* animation section */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes antiClockwise {
    from {
            transform: rotate(0deg);
        }
    
    to {
        transform: rotate(-360deg);
    }
}


/* spread animation section */
@keyframes spread {
    
    100% {
        transform: translateX(35px);
    }
}

@keyframes spreadUp {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-35px);
    }
}

@keyframes spreadLeft {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-35px);
    }
}

@keyframes spreadDown {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(35px);
    }
}